body {
	margin: 0;
	font-family: 'Arial', sans-serif;
	background-color: #1a1a1a;
	color: #ffffff;
  }
  
  h1 {
	font-size: 60px;
	text-align: center;
  }
  
  h3 {
	font-size: 30px;
	text-align: center;
  }
  
  h3 a {
	color: #ffffff;
  }
  
  a {
	color: #ffffff;
  }
  
  h1 {
	margin-top: 100px;
	text-align: center;
	font-size: 60px;
  }
  
  #container {
	margin: 0 auto;
  }
  
  p {
	text-align: center;
  }
  
  nav {
	background-color: black;
  }
  
  nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
	position: relative;
  }
  
  nav ul li {
	display: inline-block;
	background-color: black;
  }
  
  nav a {
	display: block;
	padding: 0 10px;
	color: #FFF;
	font-size: 20px;
	line-height: 60px;
	text-decoration: none;
  }
  
  nav a:hover {
	background-color: #000000;
  }
  
  /* Hide Dropdowns by Default */
  nav ul ul {
	display: none;
	position: absolute;
	top: 60px; /* the height of the main nav */
  }
  
  /* Display Dropdowns on Hover */
  nav ul li:hover > ul {
	display: inherit;
  }
  
  /* Fisrt Tier Dropdown */
  nav ul ul li {
	width: 170px;
	float: none;
	display: list-item;
	position: relative;
  }
  
  /* Second, Third and more Tiers */
  nav ul ul ul li {
	position: relative;
	top: -60px;
	left: 170px;
  }
  
  /* Change this in order to change the Dropdown symbol */
  li > a:after {
	content: ' +';
  }
  
  li > a:only-child:after {
	content: '';
  }
  