{% load static %} 

   <!-- Footer-->
 
   <footer class="footer py-4 " style="background-color: black;">
    <div  class="container px-4 px-lg-8">
        <div class="row align-items-center">
            <div class="col-lg-6 text-lg-start" style="color: white;">Copyright 2023 &copy; Sebastián Navarro Veas  / EC Yerko González Navarrete</div>
        
          
        </div>
    
</footer>

<style>
 
  

    footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: #333;
        color: white;
        text-align: center;
        padding: 50px;
    }
</style>

</div>